{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>This is profile page</h1>
<h1>Hello {{user}}</h1>

{% if messages %}
{% for m in messages %}
<small class="bg-success p-3 text-white">{{m}}</small>

{% endfor %}
{% endif %}
<br>
<p><a class="btn btn-info" href="{% url 'passchange' %}">Change your Password</a>
<a class="btn btn-warning" href="{% url 'passchange2' %}">Change your Password without old Password</a></p>


<form method="post" style="width: 50%; margin: auto; " novalidate>
    <!-- {{form | crispy}} -->
     {% csrf_token %}

     {% if form.non_field_errors %}
     {% for er in form.non_field_errors %}
     <p class="bg-danger text-white p-3">{{er}}</p>
     {% endfor %}
     {% endif %}
     {% for data in form %}
     {{data.label_tag}}
     {{data}}
     {{data.errors | striptags}}
     {% endfor %}
    <button class="btn btn-warning" type="submit">Change Data</button>
  </form>
{% endblock %}